
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="../style.css">
<body>
  <div style="height: 90px;margin: 10px;background-color: #2C3A49">

           <div id="Menu">
                <ul>
                 <li></li>
                  <li><a href="logout" class="w3-bar-item w3-button">Logout</a></li>
                  <li><a href="dashboard" class="w3-bar-item w3-button">Reza ul</a></li>
                  <li><a href="home" class="w3-bar-item w3-button">Home</a></li>
                  <li></li>

                </ul>
           </div>

  </div>
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%;height: 420px">
  <h3 class="w3-bar-item">Menu</h3>
   <a href="dashboard" class="w3-bar-item w3-button">Dashboard</a>

  <a href="myPackages" class="w3-bar-item w3-button">Packages</a>
  <a href="addPackage" class="w3-bar-item w3-button">Add Packages</a>

  <a href="requests" class="w3-bar-item w3-button">Requests</a>
  <a href="paymentList" class="w3-bar-item w3-button">PaymentList</a>
  <a href="report" class="w3-bar-item w3-button">Report</a>

</div>

  

<div class="left-sidebar">
    <div class="flex-container" style="padding: 1px;">
                <div style="width: 100%">
                  <form method="post">
                    <p>Package Name : <input type="" name="packagename" ></p></br>


                    Package Speed : <select>
                                      <option value="15Mbps">15Mbps</option>
                                      <option value="25Mbps">25Mbps</option>
                                      <option value="40Mbps">40Mbps</option>
                                      <option value="UNLIMITED">UNLIMITED</option>
                                    </select></br></br>

                    Package Amount : <input type="" name="packageprice" ></br>

                    <br><a type="submit">Confirm Package</a>
                    </form>
                </div>

           </div>
           
</div>
<div style="height: 90px;margin: 10px;background-color: #2C3A49">
           <div></div>

        </div>

</body>
</html>
