<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="../style.css">
<body>
	<div style="height: 90px;margin: 10px;background-color: #003E66">
            <div id="Menu">
                <ul>
                 <li></li>
                  <li><a href="index.html" class="w3-bar-item w3-button">Logout</a></li>
                  <li><a href="dashboard.html" class="w3-bar-item w3-button">Reza ul</a></li>
                  <li><a href="index.html" class="w3-bar-item w3-button">Home</a></li>
                  <li></li>

                </ul>
           </div>

	</div>
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%;height: 420px">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="dashboard.html" class="w3-bar-item w3-button">Dashboard</a>

  <a href="myPackageDetails.html" class="w3-bar-item w3-button">Packages</a>
  <a href="addpackage.html" class="w3-bar-item w3-button">Add Packages</a>

  <a href="request.html" class="w3-bar-item w3-button">Requests</a>
  <a href="paymentList.html" class="w3-bar-item w3-button">PaymentList</a>

  <a href="#" class="w3-bar-item w3-button">Messages</a>

  <a href="report.html" class="w3-bar-item w3-button">Report</a>

</div>
<div class="left-sidebar">
		<div >
		    <table width="100%">
	<tr>
		<td>Name</td>
		<td>ServiceId</td>
		<td>Package Name</td>
		<td>Date</td>
		<td>Amount</td>
		<td></td>

	</tr>
	<tr>
		<td>Reza ul karim</td>
		<td>R-12548</td>
		<td>package 1</td>
		<td>12.30.2018</td>
		<td>1000tk</td>
		<td></td>

	</tr>
	<tr>
		<td>Rifat hasan</td>
		<td>R-2546</td>
		<td>package 1</td>
		<td>12.30.2018</td>
		<td>1000tk</td>
		<td></td>

	</tr>

	<tr>
		<td>Syan ahmed</td>
		<td>S-25887</td>
		<td>package 1</td>
		<td>12.30.2018</td>
		<td>1000tk</td>
		<td></td>

	</tr>
</table>
		</div>
</div>
<div style="height: 90px;margin: 10px;background-color: #2C3A49">
           <div></div>

        </div>

</body>
</html>
