<!DOCTYPE html>
<html>

<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="../style.css">
<body>
  <div style="height: 90px;margin: 10px;background-color: #2C3A49">

           <div id="Menu">
                <ul>
                 <li></li>
                  <li><a href="index.html" class="w3-bar-item w3-button">Logout</a></li>
                  <li><a href="dashboard.html" class="w3-bar-item w3-button">Reza ul</a></li>
                  <li><a href="index.html" class="w3-bar-item w3-button">Home</a></li>
                  <li></li>

                </ul>
           </div>

  </div>
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%;height: 420px">
  <h3 class="w3-bar-item">Menu</h3>
   <a href="dashboard" class="w3-bar-item w3-button">Dashboard</a>

  <a href="myPackages" class="w3-bar-item w3-button">Packages</a>
  <a href="addPackage" class="w3-bar-item w3-button">Add Packages</a>

  <a href="requests" class="w3-bar-item w3-button">Requests</a>
  <a href="paymentList" class="w3-bar-item w3-button">PaymentList</a>

  <a href="#" class="w3-bar-item w3-button">Messages</a>

  <a href="report" class="w3-bar-item w3-button">Report</a>

</div>
<div class="left-sidebar">
    <div class="report">
                <div>
                     <p>Top 5 packages</p>
                     <table>
                          <tr>
                               <th>Package Name</th>
                               <th>Total User</th>
                          </tr>
                          <tr>
                            <td>Durbar Ultimate</td>
                            <td>5</td>

                          </tr>
                          <tr>
                             <td>Durbar Standard</td>
                            <td>5</td>

                          </tr>
                          <tr>
                            <td>Durbar Advance</td>
                            <td>5</td>

                            
                          </tr>
                           <tr><td>Durbar Economy</td>
                            <td>7</td>


                           </tr>
                            

                    
                     </table>
                </div>

                <div>
                     <p>Top 5 Old user</p>
                     <table>
                          <tr>
                            <td>Reza ul karim</td>
                          </tr>
                          <tr>
                             <td>Ishman Ahmed</td>
                          </tr>
                          <tr>
                            <td>Rifat hasan</td>
                            
                          </tr>
                           <tr><td>Sayan ahmed</td></tr>
                            

                          </tr>
                     </table>
                </div>

              

           </div>
</div>
<div style="height: 90px;margin: 10px;background-color: #2C3A49">
           <div></div>

        </div>

</body>
</html>
