<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="../style.css">
<body>
  <div style="height: 90px;margin: 10px;background-color: #2C3A49">

           <div id="Menu">
                <ul>  
                  <li><a href="signUp" class="w3-bar-item w3-button">Registration</a></li>
                  <li><a href="login" class="w3-bar-item w3-button">Login</a></li>
                  <li><a href="index" class="w3-bar-item w3-button">Home</a></li>
                </ul>
           </div>

  </div>

<div class="left-sidebar">
    <div class="bg" style="text-align: center; padding-top: 2px;">
        <form method="post">
          <table>
            <tr>
              <td>Name</td>
              <td><input type="text" name= "name"></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><input type="text" name="address" style="width: 200px; height: 150px"></td>
            </tr>
            <tr>
              <td>Phone No.</td>
              <td><input type="text" name="phoneno"></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><input type="text" name="email"></td>
            </tr>
            <tr>
              <td>Username</td>
              <td><input type="text" name="username"></td>
            </tr>
            <tr>
              <td>Password</td>
              <td><input type="password" name="password"></td>
            </tr>
            <tr>
              <td>Confirm Password</td>
              <td><input type="password" name="retypepassword"></td>
            </tr>
            <br>
            <tr>
              <td></td>
              <td><input type="submit" name="Save" class="button"></td>
            </tr>
          </table>
        </form>
     </div>
      
</div>
 <div style="height: 90px;margin: 10px;background-color: #2C3A49">
           <div></div>

        </div>

</body>
</html>
