<!DOCTYPE html>
<html>
<head>
  <title>isp</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="./style.css">

</head>
<body>
      <div style="height: 90px;margin: 10px;background-color: #2C3A49">

           <div id="Menu" >
                <ul>
                  <li><a href="signup" class="w3-bar-item w3-button">Registration</a></li>
                  <li><a href="login" class="w3-bar-item w3-button">Login</a></li>
                  <li><a href="home" class="w3-bar-item w3-button">Home</a></li>
                </ul>
           </div>

  </div>

          <div class="flex-container">
                <% for(var i = 0; i < packageList.length; i++){ %>
                <div style="padding: 15px; width: 450px;margin: 20px;">
                      <%= packageList[i].packagename %><br>Package Internet TM<br><%= packageList[i].speed %><br>UNLIMITED
                    <br><%= packageList[i].price %>
                    <br><a href="packages/<%=packageList[i].packageid %>"> Get Now</a>
                </div>

           <% } %>

           </div>

        <div style="height: 90px;margin: 10px;background-color: #2C3A49">
           <div></div>

        </div>
      </div>     
          
        
</body>
</html>