<!DOCTYPE html>
<html>
<title>uProvider</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="../style.css">
<body>
	<div style="height: 90px;margin: 10px;background-color: #003E66">
           	
           	 <div id="Menu">
                <ul>
           	    	<li></li>

                   <li><a href="../Logout" class="w3-bar-item w3-button">Logout</a></li>
                  <li><a href="login" class="w3-bar-item w3-button">Home</a></li>
                  <li><a href="index" class="w3-bar-item w3-button">Home</a></li>

                </ul>
           </div>

	</div>
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%;height: 420px">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="dashboard" class="w3-bar-item w3-button">Dashboard</a>

  <a href="myPackageDetails" class="w3-bar-item w3-button">My Package</a>
  <a href="payment" class="w3-bar-item w3-button">Payments</a>
  <a href="paymentList" class="w3-bar-item w3-button">Payment List</a>
  
</div>
<div class="left-sidebar">
		<div class= "flex-container" style="padding: 10px; margin-left:  100px;">
		<table border = "1">
		<tr>
			<th>ID</th>
			<th>Amount</th>
		</tr>
		<tr>	
			<% for (var i = 0; i < paymentList.length; i++) { %>
					<td><%= paymentList[i].paymentid %></td>
					<td><%= paymentList[i].amount %></td>
				
			</tr>
			<% } %>
		</table>
		</div>
</div>
		<div style=" background-color: #f4f4f4;margin: 5px;padding: 5px;margin-right: 5px; font-size: 15px;width: 30%;padding-top: 1px;margin-top: 10px">
			<p>Active package : Durbar Advance<br>
		   Remaining time : 08:12:40</p>



		</div>
</div>
 <div style="height: 90px;margin: 10px;background-color: #2C3A49">
           <div></div>

        </div>

</body>
</html>
